/*Map*/
/*Extends*/
h1, .explicacion__titulo, .tituloMayus, .boletin__texto, .boletin__texto2, form, h2, .imagenGato {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

/*Mixins*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Asap', sans-serif; }

body {
  background: #4aac97;
  background: linear-gradient(0deg, #4aac97 0%, #034d3d 100%); }

/*NAV*/
.encabezado {
  background-color: #267766;
  min-height: 85px;
  padding: 5px 10%; }

.navbar-brand {
  cursor: pointer; }

.navbar-brand img {
  transition: all 0.3s; }

.navbar-brand img:hover {
  transform: scale(1.2); }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.navbar-nav .nav-link {
  color: whitesmoke; }

.active {
  background-color: rgba(206, 231, 226, 0.541);
  border-radius: 10px; }

.nav-link-carro img {
  width: 40px;
  height: 40px; }

/*FOOTER*/
.footer {
  width: 100%;
  height: auto;
  background-color: #267766; }

.whatsapp__logo {
  position: fixed;
  right: 15px;
  bottom: 15px; }

.whatsapp img {
  width: 60px;
  height: 60px; }

h3 {
  margin: 10px;
  color: whitesmoke; }

h1 {
  color: whitesmoke;
  font-size: 100px;
  padding: 15px; }

.parrafo {
  width: 100%;
  height: auto;
  padding: 80px; }

.explicacion {
  width: 100%;
  height: auto; }
  .explicacion__titulo {
    color: whitesmoke;
    font-size: 35px;
    padding: 15px;
    background-color: #194e42; }

.circleFoto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px; }
  .circleFoto img {
    max-width: 90%; }

.tituloMayus {
  color: whitesmoke;
  padding: 15px; }

.boletin {
  display: block;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 92%;
  height: auto;
  background-color: rgba(243, 235, 235, 0.151);
  border-radius: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 80px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center; }

.boletin__titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  font-size: 35px; }

.boletin__texto {
  color: whitesmoke;
  padding: 20px;
  text-align: center;
  font-size: 20px; }

.boletin__texto2 {
  color: #194e42;
  font-style: italic;
  font-size: 20px;
  text-align: center; }

form {
  padding: 20px; }

input {
  width: 400px;
  height: 30px;
  border-radius: 12px;
  text-align: center;
  font-size: 18px; }

h4 {
  margin: 10px;
  color: whitesmoke; }

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  font-size: 35px;
  padding: 15px;
  text-align: center; }

/*NESTING*/
.gato {
  width: 100%;
  height: auto; }
  .gato__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .gato__foto {
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .gato img {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center; }

.container {
  width: 100%; }

#container__tabla {
  width: 600px;
  margin: 150px auto; }

table {
  background-color: #2f9780;
  text-align: left;
  width: 100%;
  color: whitesmoke;
  border-collapse: collapse; }

th, td {
  padding: 10px; }

thead {
  background-color: #226859;
  border-bottom: solid 5px #143d34;
  color: whitesmoke; }

tr:nth-child(even) {
  background-color: rgba(19, 54, 47, 0.219); }

tr:hover td {
  background-color: whitesmoke;
  color: #2f9780; }

.titulo2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  font-size: 35px;
  padding: 15px;
  text-align: center; }

@media screen and (max-width: 768px) {
  .encabezado {
    background-color: #267766;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    padding: 2px; }
  .encabezado .logo img {
    height: 60px;
    width: auto;
    padding: 2px; }
  .encabezado__lista__carro img {
    width: 20px;
    height: 20px; }
  .encabezado .encabezado__lista {
    list-style: none; }
  .encabezado .encabezado__lista li {
    display: inline-block;
    padding: 0 20px; }
  .encabezado .encabezado__lista a {
    font-size: 700;
    color: whitesmoke;
    text-decoration: none; } }

@media screen and (max-width: 320px) {
  body {
    background: #01251d;
    background: linear-gradient(0deg, #4aac97 0%, #034d3d 100%); }
  .encabezado {
    flex-direction: column; }
  .encabezado .logo img {
    height: 40px;
    width: auto; }
  .encabezado__lista__carro img {
    width: 15px;
    height: 15px; }
  .encabezado .encabezado__lista {
    list-style: none; }
  .encabezado .encabezado__lista li {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px; }
  .encabezado .encabezado__lista a {
    font-size: 700;
    color: whitesmoke;
    text-decoration: none; } }

/*Map*/
/*Extends*/
h1, .explicacion__titulo, .tituloMayus, .boletin__texto, .boletin__texto2, form, h2, .imagenGato {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center; }

/*Mixins*/
h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  font-size: 35px;
  padding: 15px;
  text-align: center; }

.encabezado {
  background-color: #267766;
  min-height: 85px;
  padding: 5px 10%; }

.encabezado .navbar-brand {
  cursor: pointer; }

.encabezado .navbar-brand img {
  transition: all 0.3s; }

.encabezado .navbar-brand img:hover {
  transform: scale(1.2); }

.navbar-nav .nav-link {
  color: whitesmoke; }

.active {
  background-color: rgba(206, 231, 226, 0.541);
  border-radius: 10px; }

.nav-link-carro img {
  width: 40px;
  height: 40px; }

.conteiner {
  width: 100%; }

h2 {
  color: #63ac9c;
  font-size: 35px;
  padding: 10px; }

.input {
  padding: 50px;
  margin: 10px;
  background-color: #267766; }

.imagenGato {
  margin: 10px;
  overflow: hidden; }

.imagenGato img {
  width: 60%;
  height: 50%;
  transition: 0.5s;
  object-fit: cover; }

img:hover {
  transform: scale(1.2); }

.botonEnviar {
  width: fit-content;
  padding: 15px;
  border-radius: 6px;
  background-color: rgba(7, 31, 25, 0.788);
  color: whitesmoke; }

.botonReset {
  width: fit-content;
  padding: 15px;
  border-radius: 6px;
  background-color: whitesmoke;
  color: rgba(7, 31, 25, 0.788); }

/*MEDIA*/
@media screen and (max-width: 320px) {
  .imagenGato {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px; }
  .imagenGato img {
    width: 100%;
    height: 100%; } }

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  font-size: 40px;
  padding: 15px; }

.contenedor {
  width: 100%;
  margin: auto; }

.ilus__columna img {
  width: 100%;
  transition: all 0.3s; }

.ilus__columna img:hover {
  transform: scale(1.05); }

.ilus__columna {
  margin: 5px; }

.ilusMasco .contenedor {
  display: grid; }

.ilusMasco .contenedor {
  grid-template-columns: repeat(3, 33%); }

p {
  text-align: center;
  font-size: 22px;
  padding: 5px;
  color: rgba(227, 252, 246, 0.788); }

@media screen and (max-width: 768px) {
  .encabezado {
    background-color: #267766;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    padding: 2px; }
  .encabezado .logo img {
    height: 60px;
    width: auto;
    padding: 2px; }
  .encabezado__lista__carro img {
    width: 20px;
    height: 20px; }
  .encabezado .encabezado__lista {
    list-style: none; }
  .encabezado .encabezado__lista li {
    display: inline-block;
    padding: 0 20px; }
  .encabezado .encabezado__lista a {
    font-size: 700;
    color: whitesmoke;
    text-decoration: none; }
  .ilusMasco .contenedor {
    grid-template-columns: repeat(2, 50%); } }

@media screen and (max-width: 320px) {
  body {
    background: #01251d;
    background: linear-gradient(0deg, #01251d 0%, #4aac97 100%); }
  .encabezado {
    flex-direction: column; }
  .encabezado .logo img {
    height: 40px;
    width: auto; }
  .encabezado__lista__carro img {
    width: 15px;
    height: 15px; }
  .encabezado .encabezado__lista {
    list-style: none; }
  .encabezado .encabezado__lista li {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px; }
  .encabezado .encabezado__lista a {
    font-size: 700;
    color: whitesmoke;
    text-decoration: none; }
  .ilusMasco .contenedor {
    grid-template-columns: repeat(2, 50%); } }

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: whitesmoke;
  font-size: 35px;
  padding: 15px;
  text-align: center; }

.fotos .col-lg-4 {
  margin: 0;
  padding: 25px; }

.fotos img {
  max-width: 100%;
  height: 100%; }

.nameInfo {
  color: #267766;
  left: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  font-size: 25px;
  padding: 2px; }

@media screen and (max-width: 768px) {
  body {
    background: #01251d;
    background: linear-gradient(0deg, #01251d 0%, #4aac97 100%); } }

@media screen and (max-width: 320px) {
  body {
    background: #01251d;
    background: linear-gradient(0deg, #01251d 0%, #4aac97 100%); } }
