@import './base/variables';
h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: map-get($colores, "color-principal");
    font-size: 35px;
    padding: 15px; 
    text-align: center;
}

.encabezado{
    background-color:map-get($colores, "color-secundario");
    min-height: 85px;
    padding: 5px 10%;
}

.encabezado .navbar-brand{
    cursor: pointer; 
}

.encabezado .navbar-brand img{
    transition: all 0.3s;
}

.encabezado .navbar-brand img:hover{
    transform: scale(1.2);
}

.navbar-nav .nav-link{
    color: map-get($colores, "color-principal"); 
}

.active{
    background-color: rgba(206, 231, 226, 0.541);
    border-radius: 10px;
}

.nav-link-carro img{
    width: 40px;
    height: 40px;
}

.conteiner{
    width: 100%;       
}

h2{
    @extend %flexRowSpaceEvenly;
    color: rgb(99, 172, 156);
    font-size: 35px;
    padding: 10px;  
}

.input{
    margin: 80px;
}

.parrafo{
    width: 200px;
    border: 3px solid whitesmoke;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 20px;
    font-size: 24px;
    margin: 0;
    resize: horizontal;

}

.imagenGato {
    @extend %flexRowSpaceEvenly;
    margin: 10px;
    overflow: hidden;
}

.imagenGato img{
    width: 60%;
    height: 50%;
    transition: 0.5s;
    object-fit: cover;
}

img:hover{
    transform: scale(1.2);
}


.botonEnviar{
    @include boton (rgba(7, 31, 25, 0.788), whitesmoke);
}

.botonReset{
    @include boton (whitesmoke, rgba(7, 31, 25, 0.788));
}

/*MEDIA*/
@media screen and (max-width:320px){
    .imagenGato {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 10px;
    }
    
    .imagenGato img{
        width: 100%;
        height: 100%;
    }
}