*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}

body{
    background: map-get($colores, "color-background-dos");
    background: map-get($colores, "color-background");     
}

/*NAV*/
.encabezado{
    background-color: map-get($colores, "color-secundario"); 
    min-height: 85px;
    padding: 5px 10%;
}

.navbar-brand{
    cursor: pointer; 
}

.navbar-brand img{
    transition: all 0.3s;
}

.navbar-brand img:hover{
    transform: scale(1.2);
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.navbar-nav .nav-link{
    color: map-get($colores, "color-principal");
}

.active{
    background-color: map-get($colores, "active"); 
    border-radius: 10px;
}

.nav-link-carro img{
    width: 40px;
    height: 40px;
}

/*FOOTER*/

.footer{
    width: 100%;
    height: auto;
    background-color: map-get($colores, "color-secundario");
}

.whatsapp__logo{
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.whatsapp img{
    width: 60px;
    height: 60px; 
}

h3{
    margin: 10px;
    color: map-get($colores, "color-principal"); 
}
