h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke; 
    font-size: 40px;
    padding: 15px;
}

.contenedor{
    width: 100%;
    margin: auto;
}

.ilus__columna img{
    width: 100%;
    transition: all 0.3s;
}

.ilus__columna img:hover{
    transform: scale(1.05);
}

.ilus__columna{
    margin: 5px;
}

.ilusMasco .contenedor{
    display: grid;
    
}

.ilusMasco .contenedor{
    grid-template-columns: repeat(3,33%);
}

p{
    text-align: center;
    font-size: 22px;
    padding: 5px;
    color: rgba(227, 252, 246, 0.788);
}


@media screen and (max-width:768px){
    .encabezado{
        background-color:rgb(38, 119, 102);
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 85px;
        padding: 2px ;
    }
       
    .encabezado .logo img{
        height: 60px;
        width: auto;
        padding: 2px;
    }
       
    .encabezado__lista__carro img{
        width: 20px;
        height: 20px;
    }
    
    .encabezado .encabezado__lista{
        list-style: none;
    }
    
    .encabezado .encabezado__lista li{
        display: inline-block;
        padding: 0 20px;
    }
       
    .encabezado .encabezado__lista a{
        font-size: 700;
        color: whitesmoke;
        text-decoration: none;
    } 

    .ilusMasco .contenedor{
        grid-template-columns: repeat(2,50%);
    }

}

@media screen and(max-width:320px){
    body{
        background: rgb(1,37,29);
        background: linear-gradient(0deg, rgba(1,37,29,1) 0%, rgba(74,172,151,1) 100%); 
    }

    .encabezado{
        flex-direction: column;
    }
      
    .encabezado .logo img{
        height: 40px;
        width: auto;
    }
    
    .encabezado__lista__carro img{
        width: 15px;
        height: 15px;
    }
    
    .encabezado .encabezado__lista{
        list-style: none;
    }
    
    .encabezado .encabezado__lista li{
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
    }
     
    .encabezado .encabezado__lista a{
        font-size: 700;
        color: whitesmoke;
        text-decoration: none;
    }
    
    .ilusMasco .contenedor{
        grid-template-columns: repeat(2,50%);
    } 
}