h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: map-get($colores, "color-principal"); 
    font-size: 35px;
    padding: 15px;   
    text-align: center;
}

/*NESTING*/
.gato{
    width: 100%;
    height: auto; 

    &__contenedor{
        display: flex;
        flex-direction: row;
        justify-content: center; 
    }

    &__foto {
        margin: 10px; 
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    img{
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.container{
    width: 100%; 
}

#container__tabla{
    width: 600px;
    margin: 150px auto;
}

table{
    background-color:rgb(47, 151, 128);
    text-align: left;
    width: 100%;
    color: map-get($colores, "color-principal");
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

thead{
    background-color:rgb(34, 104, 89);
    border-bottom: solid 5px rgb(20, 61, 52);
    color: map-get($colores, "color-principal");
}

tr:nth-child(even){
    background-color: rgba(19, 54, 47, 0.219);
}

tr:hover td{
    background-color:map-get($colores, "color-principal");
    color: rgb(47, 151, 128);
}

.titulo2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: map-get($colores, "color-principal");
    font-size: 35px;
    padding: 15px;   
    text-align: center;
}

@media screen and (max-width:768px){
    .encabezado{
        background-color:map-get($colores, "color-secundario"); 
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 85px;
        padding: 2px ;
    }
       
    .encabezado .logo img{
        height: 60px;
        width: auto;
        padding: 2px;
    }
       
    .encabezado__lista__carro img{
        width: 20px;
        height: 20px;
    }
    
    .encabezado .encabezado__lista{
        list-style: none;
    }
    
    .encabezado .encabezado__lista li{
        display: inline-block;
        padding: 0 20px;
    }
       
    .encabezado .encabezado__lista a{
        font-size: 700;
        color: map-get($colores, "color-principal");
        text-decoration: none;
    } 
}

@media screen and(max-width:320px){
    body{
        background: rgb(1,37,29);
        background: map-get($colores, "color-background"); 
    }

    .encabezado{
        flex-direction: column;
    }
      
    .encabezado .logo img{
        height: 40px;
        width: auto;
    }
    
    .encabezado__lista__carro img{
        width: 15px;
        height: 15px;
    }
    
    .encabezado .encabezado__lista{
        list-style: none;
    }
    
    .encabezado .encabezado__lista li{
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
    }
     
    .encabezado .encabezado__lista a{
        font-size: 700;
        color: map-get($colores, "color-principal");
        text-decoration: none;
    }  
}