*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(47, 151, 128, 0.301);
    font-family: 'Nunito', sans-serif; 
}

.encabezado__lista{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(47, 151, 128);
}

.encabezado__lista__logo{
    position: absolute;
    width: 150px;
    height: 60px;
    margin: 0 auto;
    top: 20px;
    bottom: 15px;
    left: 15px;
}

.encabezado__lista__item{
    position: relative;
    display: inline-block;
    padding: 20px;
    top: 20px;
    bottom: 15px;
    left: 700px;
}

.encabezado__lista__carro {
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 25px;
    left: 1800px;
}

.encabezado a{
    color: whitesmoke;
}


ul{
    list-style: none;
}

h1{
    text-align: center;
    color: rgb(47, 151, 128);
    font-size: 35px;
    padding: 20px; 
    border: 1px solid rgb(47, 151, 128); 
}

.fotos{
    width: 100%;
    position: relative;
}

.fotos__equipo{
    margin: 0px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-style: oblique;
    align-items: center;
    transform: translate(25%, 5% );
}

p{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 94%;
    text-align: center;
    font-size: 25px;
    padding: 3%;
}

.fotos__equipo__P{
    width: 750px;
    height: 750px;  
}

.redes{
    margin-left: 870px;
    margin-right: 870px;
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 17px;
    list-style: none;
    display: inline-block;    
}

.redes a{
    color: rgb(47, 151, 128);
    display: inline-block;  
}

.cards{
    position: relative;
    width: 100%;
    display: inline-block;
    margin-left: 0;
}


.cards__list__image{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;  
    transform: translate(3300%, -60% );
}

.cards__list__image img{
    width: 50px;
    height: 50px; 
}

h3{
    margin-left: 10px;
    margin-bottom: 10px;
}
