*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Asap', sans-serif;
}

body{
    background: rgb(74,172,151);
    background: linear-gradient(0deg, rgba(74,172,151,1) 0%, rgb(3, 77, 61) 100%);     
}

.encabezado{
    background-color:rgb(38, 119, 102);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    padding: 5px 10%;
}

.encabezado .logo{
    cursor: pointer;
}

.encabezado .logo img{
    height: 60px;
    width: auto;
    transition: all 0.3s;
}

.encabezado .logo img:hover{
    transform: scale(1.2);
}

.encabezado .encabezado__lista{
    list-style: none;
}

.encabezado .encabezado__lista li{
    display: inline-block;
    padding: 0 20px;
}

.encabezado .encabezado__lista li:hover{
    transform: scale(1.1);
}

.encabezado .encabezado__lista a{
    font-size: 700;
    color: whitesmoke;
    text-decoration: none;
}

.encabezado .encabezado__lista li a:hover{
    color:rgba(193, 241, 231, 0.747);
}

.encabezado__lista__carro {
    width: 40px;
    height: 40px; 
}

h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke; 
    font-size: 35px;
    padding: 15px;   
    text-align: center;
    border: 1px solid rgb(47, 151, 128); 
}

.gato{
    width: 100%;
    height: auto; 
}

.gato__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.gato__contenedor__foto{
    margin: 10px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gato__contenedor__foto img{
    width: 80%;
}

.container{
    width: 100%; 
}

#container__tabla{
    width: 600px;
    margin: 150px auto;
}

table{
    background-color:rgb(47, 151, 128);
    text-align: left;
    width: 100%;
    color: white;
    border-collapse: collapse;
}

th, td{
    padding: 10px;
}

thead{
    background-color:rgb(34, 104, 89);
    border-bottom: solid 5px rgb(20, 61, 52);
    color: white;
}

tr:nth-child(even){
    background-color: rgba(19, 54, 47, 0.219);
}

tr:hover td{
    background-color: white;
    color: rgb(47, 151, 128);
}

h2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: whitesmoke; 
    font-size: 35px;
    padding: 15px;   
    text-align: center;
    border: 1px solid rgb(47, 151, 128); 
}

.redes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding: 30px;
}

.redes a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}

.redes a:hover{
    color:rgba(10, 48, 40, 0.788);
}


.whatsapp__logo{
    position: fixed;
    right: 15px;
    bottom: 15px;
}

.whatsapp img{
    width: 60px;
    height: 60px; 
}

.cards{
    width: 100%; 
}

.cards__list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    margin: 20px;
}

.cards__list__image img{
    width: 60px;
    height: 60px;
    margin: 15px;
}

h3{
    margin: 10px;
    color: whitesmoke;   
}

@media screen and (max-width:768px){
    .encabezado{
        background-color:rgb(38, 119, 102);
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 85px;
        padding: 2px ;
    }
       
    .encabezado .logo img{
        height: 60px;
        width: auto;
        padding: 2px;
    }
       
    .encabezado__lista__carro img{
        width: 20px;
        height: 20px;
    }
    
    .encabezado .encabezado__lista{
        list-style: none;
    }
    
    .encabezado .encabezado__lista li{
        display: inline-block;
        padding: 0 20px;
    }
       
    .encabezado .encabezado__lista a{
        font-size: 700;
        color: whitesmoke;
        text-decoration: none;
    } 
}

@media screen and(max-width:320px){
    body{
        background: rgb(1,37,29);
        background: linear-gradient(0deg, rgba(1,37,29,1) 0%, rgba(74,172,151,1) 100%); 
    }

    .encabezado{
        flex-direction: column;
    }
      
    .encabezado .logo img{
        height: 40px;
        width: auto;
    }
    
    .encabezado__lista__carro img{
        width: 15px;
        height: 15px;
    }
    
    .encabezado .encabezado__lista{
        list-style: none;
    }
    
    .encabezado .encabezado__lista li{
        display: flex;
        flex-direction: column;
        margin: 5px;
        padding: 5px;
    }
     
    .encabezado .encabezado__lista a{
        font-size: 700;
        color: whitesmoke;
        text-decoration: none;
    }
    
}